# Data Analysis

In [1]:
# Import dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
import numpy as np

In [2]:
patients_df = pd.read_csv('analysis_data/patients.csv', dtype={'FIPS Code':str})
patients_df.iloc[-1,0] = 'NA'
patients_df.set_index('FIPS Code', drop=True, inplace=True)
patients_df = patients_df.drop('2021-04', axis = 1)
patients_df

,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03
FIPS Code,,,,,,,,,,,,,,,
01001,0.0,0.0,14.0,38.0,148.0,326.0,485.0,386.0,331.0,391.0,733.0,1383.0,1536.0,578.0,210.0
01003,0.0,0.0,62.0,131.0,72.0,428.0,2073.0,1370.0,1340.0,937.0,2060.0,3994.0,4489.0,1516.0,417.0
01005,0.0,0.0,0.0,40.0,91.0,146.0,228.0,144.0,147.0,155.0,117.0,258.0,418.0,159.0,68.0
01007,0.0,0.0,0.0,35.0,29.0,97.0,190.0,173.0,114.0,203.0,340.0,563.0,473.0,123.0,53.0
01009,0.0,0.0,13.0,32.0,15.0,144.0,555.0,538.0,297.0,510.0,1083.0,1552.0,993.0,328.0,267.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56043,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NA,2088.0,1800.0,20080.0,47847.0,55253.0,63919.0,111954.0,84834.0,128778.0,178445.0,286222.0,347651.0,218961.0,153776.0,59089.0

In [3]:
icu_df = pd.read_csv('analysis_data/icu.csv',dtype={'FIPS Code':str})
icu_df.iloc[-1,0] = 'NA'
icu_df.set_index('FIPS Code', drop=True, inplace=True)
icu_df  = icu_df.drop('2021-04', axis = 1)

In [4]:
census_data = pd.read_csv('analysis_data/census_2019.csv',dtype={'FIPS Code':str})
census_data.set_index('FIPS Code', drop=True, inplace=True)
census_data

,STNAME,CTYNAME,POPESTIMATE2019,TOT_MALE,TOT_FEMALE,0 - 17 years,18 - 49 years,50 - 64 years,65 + years,Percent Hispanic,Percent non-Hispanic American Indian/Alaska Native,Percent non-Hispanic Asian,Percent non-Hispanic Black,Percent non-Hispanic Native Hawaiian/Pacific Islander,Percent non-Hispanic White,Percent non-Hispanic Other,Latitude,Longitude
FIPS Code,,,,,,,,,,,,,,,,,,
01001,Alabama,Autauga County,55869,27092,28777,14252,21652,11041,8924,0.0283,0.0025,0.0103,0.1900,0.0001,0.7460,0.6548,32.756889,-86.844516
01003,Alabama,Baldwin County,223234,108247,114987,52268,77402,46734,46830,0.0456,0.0065,0.0092,0.0917,0.0000,0.8307,0.6710,32.756889,-86.844516
01005,Alabama,Barbour County,24686,13064,11622,5595,9477,4753,4861,0.0436,0.0029,0.0048,0.4744,0.0000,0.4581,0.3463,32.756889,-86.844516
01007,Alabama,Bibb County,22394,11929,10465,4992,9233,4436,3733,0.0257,0.0013,0.0012,0.2214,0.0000,0.7453,0.6354,32.756889,-86.844516
01009,Alabama,Blount County,57826,28472,29354,14522,21002,11488,10814,0.0926,0.0007,0.0037,0.0153,0.0004,0.8689,0.7923,32.756889,-86.844516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56037,Wyoming,Sweetwater County,42343,21808,20535,12049,16959,7846,5489,0.1588,0.0102,0.0074,0.0112,0.0003,0.7956,0.5841,42.999627,-107.551450
56039,Wyoming,Teton County,23464,12142,11322,4586,10694,4467,3717,0.1503,0.0033,0.0125,0.0124,0.0012,0.8134,0.5153,42.999627,-107.551450
56041,Wyoming,Uinta County,20226,10224,10002,6215,7229,3757,3025,0.0913,0.0065,0.0016,0.0011,0.0000,0.8752,0.6935,42.999627,-107.551450
56043,Wyoming,Washakie County,7805,3963,3842,1960,2506,1609,1730,0.1423,0.0052,0.0000,0.0004,0.0000,0.8190,0.5881,42.999627,-107.551450
56045,Wyoming,Weston County,6927,3624,3303,1529,2362,1558,1478,0.0108,0.0017,0.0077,0.0023,0.0011,0.9637,0.7604,42.999627,-107.551450

In [5]:
death_df = pd.read_csv('analysis_data/death.csv',dtype={'FIPS Code':str})
death_df.iloc[-1,0] = 'NA'
death_df.set_index('FIPS Code', drop=True, inplace=True)
death_df  = death_df.drop('2021-04', axis = 1)

In [6]:
total_abs = pd.read_csv('analysis_data/total_abs.csv',dtype={'FIPS Code':str})
total_abs.iloc[-1,0] = 'NA'
total_abs.set_index('FIPS Code', drop=True, inplace=True)
total_abs

            Patients  Hospitalized     ICU    Death
FIPS Code
01001         6622.0         148.0     0.0      0.0
01003        19052.0         280.0     0.0    119.0
01005         2001.0          62.0     0.0      0.0
01007         2408.0          62.0     0.0      0.0
01009         6376.0          87.0     0.0     11.0
...              ...           ...     ...      ...
56039            0.0           0.0     0.0      0.0
56041            0.0           0.0     0.0      0.0
56043            0.0           0.0     0.0      0.0
56045            0.0           0.0     0.0      0.0
NA         1788654.0       59949.0  6205.0  19529.0

[3143 rows x 4 columns]

In [7]:
vaccination_df = pd.read_csv('analysis_data/vaccination_data.csv',dtype={'FIPS Code':str})
vaccination_df.set_index('FIPS Code', drop=True, inplace=True)
vaccination_df = vaccination_df[["Social Vulnerability Index (SVI)","SVI Category","Percent adults fully vaccinated against COVID-19"]]
vaccination_df

,Social Vulnerability Index (SVI),SVI Category,Percent adults fully vaccinated against COVID-19
FIPS Code,,,
1001,0.44,Moderate Concern,0.114
1003,0.22,Low Concern,0.176
1005,1.00,Very High Concern,0.128
1007,0.60,High Concern,0.115
1009,0.42,Moderate Concern,0.095
...,...,...,...
56037,0.37,Low Concern,0.228
56039,0.11,Very Low Concern,0.305
56041,0.45,Moderate Concern,0.206
56043,0.37,Low Concern,0.264
56045,0.35,Low Concern,0.216

In [8]:
tot_rel = pd.DataFrame((total_abs.iloc[0:-1,:]["Patients"]/census_data["POPESTIMATE2019"]), columns = ["Patients"])
tot_rel["Hospitalized"] = (total_abs.iloc[0:-1,:]["Hospitalized"]/census_data["POPESTIMATE2019"])
tot_rel["ICU"]= (total_abs.iloc[0:-1,:]["ICU"]/census_data["POPESTIMATE2019"])
tot_rel["Death"]= (total_abs.iloc[0:-1,:]["Death"]/census_data["POPESTIMATE2019"])
tot_rel

           Patients  Hospitalized  ICU     Death
FIPS Code
01001      0.118527      0.002649  0.0  0.000000
01003      0.085345      0.001254  0.0  0.000533
01005      0.081058      0.002512  0.0  0.000000
01007      0.107529      0.002769  0.0  0.000000
01009      0.110262      0.001505  0.0  0.000190
...             ...           ...  ...       ...
56037      0.000000      0.000000  0.0  0.000000
56039      0.000000      0.000000  0.0  0.000000
56041      0.000000      0.000000  0.0  0.000000
56043      0.000000      0.000000  0.0  0.000000
56045      0.000000      0.000000  0.0  0.000000

[3142 rows x 4 columns]

In [9]:
total_abs

            Patients  Hospitalized     ICU    Death
FIPS Code
01001         6622.0         148.0     0.0      0.0
01003        19052.0         280.0     0.0    119.0
01005         2001.0          62.0     0.0      0.0
01007         2408.0          62.0     0.0      0.0
01009         6376.0          87.0     0.0     11.0
...              ...           ...     ...      ...
56039            0.0           0.0     0.0      0.0
56041            0.0           0.0     0.0      0.0
56043            0.0           0.0     0.0      0.0
56045            0.0           0.0     0.0      0.0
NA         1788654.0       59949.0  6205.0  19529.0

[3143 rows x 4 columns]

In [10]:
worst_fip_patient= abs_cases.sort_values(ascending=False)
worst_fip_patient

NameError: name 'abs_cases' is not defined

In [ ]:
total_abs.loc["21003"]

In [ ]:
census_data.loc["21003"]

In [ ]:
vaccination_df.loc["21003"]

In [ ]:
vaccination_df.mean()

In [11]:
#See most affected FIPS and less affected FIPS ( by patient number)
worst_fip_patient= total_abs.sort_values(by='Patients', ascending=False)
worst_fip_patient.head()

            Patients  Hospitalized      ICU    Death
FIPS Code
NA         1788654.0       59949.0   6205.0  19529.0
06037      1124813.0       81869.0  15949.0  21291.0
04013       531243.0       46700.0      1.0   8435.0
17031       530918.0       31810.0   5525.0  11573.0
12086       398878.0        9375.0      1.0   6136.0

In [12]:
worst_ten_pat = worst_fip_patient.iloc[1:11, :]
worst_ten_pat

            Patients  Hospitalized      ICU    Death
FIPS Code
06037      1124813.0       81869.0  15949.0  21291.0
04013       531243.0       46700.0      1.0   8435.0
17031       530918.0       31810.0   5525.0  11573.0
12086       398878.0        9375.0      1.0   6136.0
06071       289868.0        9806.0   1386.0   3724.0
06065       285987.0        7458.0    824.0   3483.0
06073       274033.0       15143.0   1657.0   2833.0
36047       268440.0       33398.0   2396.0  10704.0
36081       266518.0       33505.0   2539.0   9928.0
06059       251902.0       10366.0   1875.0   4121.0

In [13]:
best_fip_patient= total_abs.sort_values(by='Patients', ascending=True)
best_fip_patient.head(1650)

           Patients  Hospitalized  ICU  Death
FIPS Code
29177           0.0           0.0  0.0    0.0
29143           0.0           0.0  0.0    0.0
29141           0.0           0.0  0.0    0.0
29139           0.0           0.0  0.0    0.0
29137           0.0           0.0  0.0    0.0
...             ...           ...  ...    ...
20071           0.0           0.0  0.0    0.0
20181           0.0           0.0  0.0    0.0
20193           0.0           0.0  0.0    0.0
35006        1000.0           0.0  0.0    0.0
18175        1002.0          24.0  0.0    0.0

[1650 rows x 4 columns]

In [14]:
#See most affected FIPS and less affected FIPS ( by death number)
worst_fip_death = total_abs.sort_values(by='Death', ascending=False)

In [15]:
worst_ten_death = worst_fip_death.iloc[0:11, :]
worst_ten_death

            Patients  Hospitalized      ICU    Death
FIPS Code
06037      1124813.0       81869.0  15949.0  21291.0
NA         1788654.0       59949.0   6205.0  19529.0
17031       530918.0       31810.0   5525.0  11573.0
36047       268440.0       33398.0   2396.0  10704.0
36081       266518.0       33505.0   2539.0   9928.0
04013       531243.0       46700.0      1.0   8435.0
36005       176885.0       24002.0   3006.0   6592.0
12086       398878.0        9375.0      1.0   6136.0
06059       251902.0       10366.0   1875.0   4121.0
36061       131549.0       15941.0   1095.0   4046.0
06071       289868.0        9806.0   1386.0   3724.0

## Vaccinated vs. Time

In [21]:
#Division to get relative values in the dataframe for cases and months 
rel_time = (patients_df.div(census_data.POPESTIMATE2019, axis=0))*100000

In [28]:
rel_time.loc[["06037","04013","17031","12086","06071","06073","06065","36047", "36081", "06059", "32003"]]

,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03
FIPS Code,,,,,,,,,,,,,,,
06037,2.709404,1.085754,64.696989,219.501595,299.399140,520.125943,804.165151,399.926009,264.495637,365.779546,1132.321829,3831.117648,2664.370446,430.078094,144.335547
04013,1.471436,0.579657,35.671178,81.330285,175.056305,1056.758640,1365.604156,300.440494,192.423709,444.685819,1366.518230,2868.185635,2849.480561,632.561454,318.231494
17031,0.232999,1.863993,253.347761,816.759164,581.993087,220.844377,341.926278,417.981089,428.543718,1525.406715,2239.782161,1406.635389,813.225343,316.393452,611.253899
12086,0.000000,1.509051,176.926984,241.668936,209.316363,347.854572,853.165694,1822.013000,949.045617,1617.039758,558.385537,818.825591,1810.639911,1561.315303,3107.944968
06071,1.788921,0.871526,33.209714,88.161700,172.837298,614.563194,936.568987,428.194314,290.630870,506.081185,1853.322233,4986.915648,2767.460902,410.029884,140.957807
06073,0.000000,0.479282,46.849772,90.314618,120.329626,279.451103,438.752310,237.753607,255.786576,304.403699,926.900576,2576.527785,2165.004658,457.294516,205.971249
06065,1.538122,0.607153,46.791276,147.943005,198.377201,609.541373,832.852333,353.160799,268.442684,382.870831,1239.604525,3973.129826,2866.937106,445.771906,145.635823
36047,1.289111,8.125308,759.013134,1197.389120,347.903807,129.301774,112.738647,99.027190,189.264984,292.315764,665.689286,1430.054186,1969.840263,1309.033975,1436.226295
36081,0.488052,9.361726,939.943865,1564.827953,360.936669,149.122083,118.507910,90.822048,129.067581,246.776860,757.456770,1663.858149,2242.332924,1382.429594,1600.988172
06059,0.000000,1.574460,39.739370,80.517884,166.514889,466.481006,617.125338,217.747817,165.255321,204.774267,794.535490,2778.795929,1891.713680,338.729323,122.555966
32003,2.249952,1.411735,90.836298,134.114787,125.953197,562.267422,1261.428984,624.074928,369.918583,721.881666,1763.388869,2381.199224,1672.067287,452.593290,254.862212

## Time Line for worst FIPS

## Sex, ethnic group and age of best against worst FIPS

## Scatter (patients and vaccinated)

## Bars for ethnic groups

## Heatmap

## Regressions for sex, age and ethnic group