# Data Analysis

In [1]:
# Import dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
import numpy as np

In [55]:
#Import files 
patients_df = pd.read_csv('analysis_data/patients.csv')
hospitalized_df = pd.read_csv('analysis_data/hospitalized.csv')
icu_df = pd.read_csv('analysis_data/icu.csv')
death_df = pd.read_csv('analysis_data/death.csv')
total_abs = pd.read_csv('analysis_data/total_abs.csv')

#Census data 
census_data = pd.read_csv('analysis_data/census_2019.csv')
total_abs.head()

   FIPS Code  Patients  Hospitalized  ICU  Death
0     1001.0    6622.0         148.0  0.0    0.0
1     1003.0   19052.0         280.0  0.0  119.0
2     1005.0    2001.0          62.0  0.0    0.0
3     1007.0    2408.0          62.0  0.0    0.0
4     1009.0    6376.0          87.0  0.0   11.0

In [56]:
#See most affected FIPS and less affected FIPS ( by patient number)
worst_fip_patient= total_abs.sort_values(by='Patients', ascending=False)
worst_fip_patient.head()

      FIPS Code   Patients  Hospitalized      ICU    Death
3142        NaN  1788654.0       59949.0   6205.0  19529.0
204      6037.0  1124813.0       81869.0  15949.0  21291.0
103      4013.0   531243.0       46700.0      1.0   8435.0
610     17031.0   530918.0       31810.0   5525.0  11573.0
362     12086.0   398878.0        9375.0      1.0   6136.0

In [57]:
worst_ten_pat = worst_fip_patient.iloc[1:11, :]

In [58]:
best_fip_patient= total_abs.sort_values(by='Patients', ascending=True)
best_fip_patient.head(1650)

      FIPS Code  Patients  Hospitalized  ICU  Death
1571    29177.0       0.0           0.0  0.0    0.0
1554    29143.0       0.0           0.0  0.0    0.0
1553    29141.0       0.0           0.0  0.0    0.0
1552    29139.0       0.0           0.0  0.0    0.0
1551    29137.0       0.0           0.0  0.0    0.0
...         ...       ...           ...  ...    ...
923     20071.0       0.0           0.0  0.0    0.0
978     20181.0       0.0           0.0  0.0    0.0
984     20193.0       0.0           0.0  0.0    0.0
1798    35006.0    1000.0           0.0  0.0    0.0
784     18175.0    1002.0          24.0  0.0    0.0

[1650 rows x 5 columns]

In [59]:
#See most affected FIPS and less affected FIPS ( by death number)
worst_fip_death = total_abs.sort_values(by='Death', ascending=False)

In [62]:
worst_ten_death = worst_fip_death.iloc[0:11, :]
worst_ten_death

      FIPS Code   Patients  Hospitalized      ICU    Death
204      6037.0  1124813.0       81869.0  15949.0  21291.0
3142        NaN  1788654.0       59949.0   6205.0  19529.0
610     17031.0   530918.0       31810.0   5525.0  11573.0
1851    36047.0   268440.0       33398.0   2396.0  10704.0
1868    36081.0   266518.0       33505.0   2539.0   9928.0
103      4013.0   531243.0       46700.0      1.0   8435.0
1830    36005.0   176885.0       24002.0   3006.0   6592.0
362     12086.0   398878.0        9375.0      1.0   6136.0
215      6059.0   251902.0       10366.0   1875.0   4121.0
1858    36061.0   131549.0       15941.0   1095.0   4046.0
221      6071.0   289868.0        9806.0   1386.0   3724.0

## Vaccinated vs. Time

## Time Line for worst FIPS

## Sex, ethnic group and age of best against worst FIPS

## Scatter (patients and vaccinated)

## Bars for ethnic groups

## Heatmap

## Regressions for sex, age and ethnic group