In [1]:
## Dependencies
import pandas as pd
import requests

# Import API key
from app_tokens import cdc_token

In [28]:
months = ['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
          '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
          '2021-01', '2021-02', '2021-03', '2021-04']

fields = 'case_month, county_fips_code, current_status, sex, age_group, race, ethnicity, hosp_yn, icu_yn, death_yn'

In [54]:
from datetime import datetime
date_month = datetime.strptime(months[3], '%Y-%m')
date_month

datetime.datetime(2020, 4, 1, 0, 0)

In [59]:
month_index = pd.to_datetime(date_month)
month_index

Timestamp('2020-04-01 00:00:00')

In [29]:
type(fields)
print(fields)

case_month, county_fips_code, current_status, sex, age_group, race, ethnicity, hosp_yn, icu_yn, death_yn

In [82]:
query_url = "https://data.cdc.gov/resource/n8mc-b4w4.json?"

params = {
    '$$app_token': cdc_token,
    '$limit': 25000000,
    '$offset': 0,
    'case_month': months[11],
    '$select': fields
}

In [83]:
response_month = requests.get(query_url, params=params).json()

In [84]:
# response_month
len(response_month)

4886808

In [85]:
response_df = pd.DataFrame(response_month)
response_df

,case_month,county_fips_code,current_status,sex,age_group,race,ethnicity,hosp_yn,icu_yn,death_yn
0,2020-12,NA,Laboratory-confirmed case,NA,NA,NA,NA,No,Missing,No
1,2020-12,NA,Probable Case,NA,NA,NA,NA,No,Missing,No
2,2020-12,NA,Laboratory-confirmed case,NA,NA,NA,NA,No,Missing,No
3,2020-12,NA,Laboratory-confirmed case,NA,NA,NA,NA,No,Missing,No
4,2020-12,NA,Probable Case,NA,NA,NA,NA,No,Missing,No
...,...,...,...,...,...,...,...,...,...,...
4886803,2020-12,04027,Laboratory-confirmed case,Male,65+ years,White,Non-Hispanic/Latino,Missing,Missing,Yes
4886804,2020-12,04027,Laboratory-confirmed case,Male,65+ years,White,Non-Hispanic/Latino,Yes,Missing,Yes
4886805,2020-12,04027,Laboratory-confirmed case,Male,65+ years,White,Non-Hispanic/Latino,Yes,Missing,Yes
4886806,2020-12,04027,Laboratory-confirmed case,Male,65+ years,White,Non-Hispanic/Latino,Yes,Missing,Yes
4886807,2020-12,04027,Laboratory-confirmed case,Male,65+ years,White,Non-Hispanic/Latino,Yes,Missing,Yes

In [69]:
# response_df['date'] = pd.to_datetime(response_df['case_month'])
# response_df

In [93]:
example = response_df[['county_fips_code', 'case_month']].groupby('county_fips_code').count()
example

                  case_month
county_fips_code
01001                   1383
01003                   3994
01005                    258
01007                    563
01009                   1552
...                      ...
55135                    444
55137                    167
55139                   2169
55141                   1243
NA                    347651

[1450 rows x 1 columns]

In [98]:
(response_df[['county_fips_code', 'sex']].groupby('county_fips_code').count())

                     sex
county_fips_code
01001               1383
01003               3994
01005                258
01007                563
01009               1552
...                  ...
55135                444
55137                167
55139               2169
55141               1243
NA                347651

[1450 rows x 1 columns]

In [99]:
response_df.groupby('county_fips_code')['sex'].value_counts()

county_fips_code  sex
01001             Female        755
                  Male          614
                  NA             14
01003             Female       2154
                  Male         1805
                              ...
NA                Female     170834
                  Male       155187
                  NA          15473
                  Unknown      4824
                  Missing      1333
Name: sex, Length: 4548, dtype: int64

In [100]:
response_df.groupby('sex')['county_fips_code'].value_counts()

sex      county_fips_code
Female   06037               195366
         NA                  170834
         04013                67582
         06071                57332
         06065                51399
                              ...
Unknown  42125                   11
         42133                   11
         51680                   11
         51790                   11
         55133                   11
Name: county_fips_code, Length: 4548, dtype: int64

## Pendientes

1. Un DF con 18 meses (columnas) por: Deidentified Patients, Hosp_YN, ICU_YN, Death_YN
2. Sex, Age Group, Ethnicity